<%= form_for [commentable, comment] do |f| %>
  <div class="form-group">
    <%= f.text_area :body, class: "form-control", placeholder: "Add a Comment" %>

  <%= f.submit "Save Comment", class: "chat-btn " %>
<% end %>
</div>
