<!--<div class = "container-fluid">
	<div class = "row">
		<div class = "col-md-2"-->
			<ul class="nav nav-tabs nav-stacked">
        		<li role="presentation" class="active"><a href="#">Profile</a></li>
        		<li role="presentation"><%= link_to 'My Events', my_events_path if @user.id == current_user.id %></li>
        		<li role="presentation"><a href="#">Change Password</a></li>
   			 </ul>
		<!--</div>-->
		<!--<div class = "col-md-10">
	</div>
</div>-->