<div class="container-fluid dashboard-background">
  <div class="row fixed-header-dashboard">
    <div class="col-md-4 text-dash">
      <h2>Resources</h2>
    </div>
    <div class="col-md-4 text-dash">
      <h2>Jobs</h2>
    </div>
    <div class="col-md-4 text-dash">
      <h2>Events</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 content-up">
      <%= render 'resources' %>
    </div>
    <div class="col-md-4 content-up">
      <%= render 'job_posts' %>
    </div>
    <div class="col-md-4 content-up">
      <%= render 'events' %>
    </div>
  </div>
</div>
