
  <div>
    <div>-----------------------</div>
    <div>THIS IS THE DASHBOARD</div>
    <div>-----------------------</div>

    <div>
      <%= link_to 'View Profile', profile_path(@user) if @user.id == current_user.id %>
      <%= link_to 'Alumni Directory', users_path %>
    </div>

  </div>
