
<div class="container-fluid">
  <div class="fixed-nav-bar">
    <div class="logo-cont">
      <div class="logo">
        <div class="logo2">
          <em class="the">The</em>
          <p class="forge">
            Forge
          </p>
        </div>
      </div>
    </div>
 <img alt="logo" class="tiy" src="fonts/images/TIY-logo-vector-color.eps">
    <div class="nav-links">
      <%= link_to 'View Profile', (@user), :class=>"nav" %>
      <%= link_to 'Alumni Directory', users_path, :class=>"nav" %>
    </div>

    <span > <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class=>"btn logout" %> </span>
  </div>

</div>

<div class="container">
  <%= render template: 'events/index' %>
</div>
