
  <div>
    <div>-----------------------</div>
    <div>THIS IS THE DASHBOARD</div>
    <div>-----------------------</div>

    <div>
      <%= link_to 'View Profile', (@user) %>
      <%= link_to 'Alumni Directory', users_path %>
    </div>

  </div>
