<h2 id="heading"><%= @user.first_name.capitalize %>, you can edit your profile here...</h2>

<%= render 'edit_form' %>

<div class = "links">
      <div class = "link1"><%= link_to 'Edit Work History', work_history_path(@user) %></div>
      <div class = "link1"><%= link_to 'Back to Profile', @user %></div>

</div>
