
<div class="row ">
<div class="my-events-scroll-header">


  <div class = "col-md-2">
      <ul class="nav nav-tabs nav-stacked">
        <li role="presentation"><%= link_to 'View Profile', user_path(current_user) %></li>
        <li role="presentation" class="active my-events-header"><a href="#">My Events</a></li>
        <li role="presentation"><%= link_to 'Change Password', edit_password_user_path(current_user) %></li>
      </ul>
  </div>
  <div class="col-md-10">
  <h2 class="my-events-heading">My Events</h2>
  </div>
  </div>
</div>
<div class="container">
  <div class="container-fluid">
<!-- This page is done except the add button -->
    <div class="row">
      <!-- <div class="col-md-2"></div> -->
      <!-- <div class="col-md-12"> -->

        <div class="btn-add-record-align"><%= link_to 'Add New Event', new_event_path, :class=>" btn-add-record"%></div>
      </div>
    <!-- </div> -->
 </div>
 <%= render 'event_list' %>
</div>
