<div class="container">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <h2 class="centered-heading">My Job Posts</h2>
        <div class="btn-add-record-align"><%= link_to 'Add New Job Post', new_job_post_path, :class=>" btn-add-record"%></div>
      </div>
    </div>
    <%= render 'list' %>
  </div>
</div>
