<!--<h2>Editing Campus</h2>

<%= render 'form' %>

<%= link_to 'Show', @campus %> |
<%= link_to 'Back', campuses_path %>-->

<div id="edit-campus" class="white-popup mfp-hide">
  <h2>Edit Campus</h2>

  <%= render 'form' %>
</div>
