.collapse-card {
  background-color: $white;
  border-bottom: 1px solid $light-gray;
  color: $mid-gray;
  @include transition(.2s);
  * {
    @include border-box();
  }
  &.active {
    @include raise-2;
    margin: 1rem -1rem;
    .collapse-card__heading:hover {
      &::after {
        content: "\f066"; // compress icon
      }
    }
  }
  .collapse-card__heading:hover {
    &::after {
      content: "\f065"; // expand icon
    }
  }
}
.collapse-card__heading {
  cursor: pointer;
  @include cf;
  padding: 1rem;
  position: relative;
  i {
    float: left;
  }
  &::after {
    color: $text-color;
    font-family: 'FontAwesome';
    font-size: 1rem;
    line-height: 2rem;
    padding-left: 0.4rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}
.collapse-card__title {
  font-size: 1rem;
  line-height: 2rem;
  margin: 0 2rem 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.collapse-card__body {
  padding: 1rem;
  display: none;
}
.job-card {
  display: inline-block;
  text-align: left;
  margin: 0 auto;
  width: 800px;

  // overflow-y: scroll;
  margin: 10px;
}
.job-heading {
  margin: 0 auto;
}
.title {
  margin: 10px 10px 5px 5px;
  font-family: $font-bold;
  padding: 1px;
  text-align: left;
}
.employer {
  padding: 0 px;
  margin: 0 10px 10px;
}

.job-img {
  float: left;
  margin: 10px 50px 10px 20px;
}

.card {

  // background-color: purple;
  text-align: center;
  margin-top: 2px;
}
.job-details {
  margin: 0 25px 25px;
}
.jobs-background-color {
  width: 100%;
  text-align: center;
  background-color: #d3d5d7;
  padding: 30px;
}
