
@import "fonts";
@import 'stylesheet';


.btn {
  font-size: $h4;
  border-radius: $corners;
  font-family: $font-italic;
  background: $accent-color-light;
  color: white;
  padding: 10px 20px 15px;
  margin: 30px 20px 20px 20px;
  text-decoration: none;
  border: 1px solid $accent-color-light;

}

.btn:hover {
  background: $accent-color-dark;
  color: $white;
  border: 1px solid $accent-color-dark;
}



btn-login {
  display: inline-block;
  border-radius: $corners;
  font-weight: bold;
  font-style: italic;
  width: 225px;
  margin: auto;
  text-decoration: none;
  background: $base;
  color: $white;
  border: 1px solid $base;
}



.toggle {
  @extend.btn;
  border: none;
  color: $font-bold;
}
.ellipse {
  text-decoration: none;
  background-color: lightgrey;
  color: $font-bold;
  border: lightgrey;
  font-size: 12px;
  // float: right;
}
.ellipse:focus {
  outline: none;
}

.logout-header{
  margin: 10px
}

.search-box a {
  font-size: $h4;
  // font-family: $font-italic;
  font-color: black;
  // padding: 10px 20px 15px;
  // margin: 15px 10px 10px 10px;
  text-decoration: none;
}

.btn-default {
  text-transform: uppercase;
}

btn-add-record{
  // color: $white;
  // // $font-size: $small-font;
  // // padding: 2px 14px;
  // background-color: #8c198c;
  // // margin-left: auto;
  // // margin-right: auto;
  // // border-radius: $corners;
  // // font-family: $font-italic;
  // text-decoration: none;
  // border: 1px solid #800080;
  // width: 300px;
  // height: 300px;
  // border-radius: 50%;

}

.btn-add-record:hover{
//   background-color: #730073;
//   border-color: #730073;
//   color: $white;
// text-decoration: none;
}
// .btn-add-record-align{
// // margin-bottom: 20px;
//   text-align: center;
//
// }
// .btn-add-record{
  // color: $white;
  // $font-size: $small-font;
  // // padding: 2px 14px;
  // background-color: #8c198c;
  // // margin-left: auto;
  // // margin-right: auto;
  //
  // font-family: $font-italic;
  // text-decoration: none;
  // // border: 1px solid #800080;
//   display: inline-block;
//   font-size: 50px;
//   padding: 5px;
//   background-color: red;
//   text-align: center;
//   // height: 500px;
// border-radius: 50%;
//
// }
// .btn-add-record-circle{
//   width: 60px;
//   height: 60px;
//   border-radius: 50%;
//   background-color: red;
//
// right: 800;
// top: 150;
// position:   fixed;
// }
