@import "fonts";
@import 'stylesheet';


.btn {
  font-size: $h4;
  border-radius: $corners;
  font-family: $font;
  background: $accent-color-light;
  color: white;
  padding: 10px 20px 15px;
  margin: 30px 20px 20px 20px;
  text-decoration: none;
  border: 1px solid $accent-color-light;
}

.btn:hover {
  background: $accent-color-dark;
  color: $white;
  border: 1px solid $accent-color-dark;
}

.btn-add-record {
  color: $white;
  $font-size: 2em;
  padding: 2px 14px;
  background-color: $accent-color-light;
  margin-left: 70%;
  // margin-right: auto;
  border-radius: $corners;
  font-family: $font;
  text-decoration: none;
  border: 1px solid $accent-color-light;
  display: inline-block;
  z-index: 800;
}

.btn-add-record:hover{
  background-color: $accent-color-dark;
  border-color: $accent-color-dark;
  color: $white;
  text-decoration: none;
}

.btn-add-record-align{
  margin-bottom: 20px;
  text-align: center;
}


ctr-btn{
  margin-left: auto;
  margin-right: auto;
}

btn-login {
  display: inline-block;
  border-radius: $corners;
  font-weight: bold;
  font-style: italic;
  width: 225px;
  margin: auto;
  text-decoration: none;
  background: $base;
  color: $white;
  border: 1px solid $base;
}

#dropdownMenu1{
  width: auto;
}

.toggle {
  @extend.btn;
  border: none;
  color: $font-bold;
}
.ellipse {
  text-decoration: none;
  background-color: lightgrey;
  color: $font-bold;
  border: lightgrey;
  font-size: 12px;
  // float: right;
}
.ellipse:focus {
  outline: none;
}

.logout-header{
  margin: 10px
}

.search-box a {
  font-size: $h4;
  // font-family: $font-italic;
  font-color: black;
  // padding: 10px 20px 15px;
  // margin: 15px 10px 10px 10px;
  text-decoration: none;
}

.btn-default {
  text-transform: uppercase;
  padding: 7.5px 15px 10px;
}

.chat-btn{
  @extend .btn;
  height: 54px;
  width: 54px;
  position: fixed;
  border-radius: 0 4px 4px 0;
  bottom: 0;
  right: 0px;
  margin-right: 34px;
  margin-bottom: 20px;
  // margin-left: -25px;
  z-index: 10;
}

.comment-btn{
  margin-bottom: 0px;
  margin-top: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-profile {
}

.btn-edit-profile{
  color: $white;
  $font-size: $small-font;
  padding: 2px 14px;
  background-color: $accent-color-light;
  margin-top: 15px;
  // margin-right: auto;
  border-radius: $corners;
  font-family: $font-italic;
  text-decoration: none;
  border: 1px solid $accent-color-light;
  display: inline-block;
}

.btn-edit-profile:hover{
  background-color: $accent-color-dark;
  border-color: $accent-color-dark;
  color: $white;
  text-decoration: none;
}

.btn-edit-profile-align{
  margin-bottom: 20px;
  text-align: center;
}

.btn-edit-positions{
  color: $white;
  $font-size: $small-font;
  padding: 2px 14px;
  background-color: $accent-color-light;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  // margin-right: auto;
  border-radius: $corners;
  font-family: $font-italic;
  text-decoration: none;
  border: 1px solid $accent-color-light;
  display: inline-block;
}

.btn-edit-positions:hover{
  background-color: $accent-color-dark;
  border-color: $accent-color-dark;
  color: $white;
  text-decoration: none;
}

.button-link{
  color: #eef1f6;
  text-decoration: none;
}

.btn-edit-work-history {
  font-size: $h4;
  border-radius: $corners;
  font-family: $font;
  background: $accent-color-light;
  color: #eef1f6;
  padding: 5px 10px 7.5px;
  margin: 0px;
  text-decoration: none;
  border: 1px solid $accent-color-light;
}

// .add-btn{
//   width: 60px;
//   height: 60px;
//   border-radius: 50%;
//   background-color: #983c30;
// }
// .add-btn-icon{
//   font-weight: 900;
//   font-size: 5em;
//   color: $white;
//   display: inline-block;
// text-align: center;
// width: 70px;
// height: 70px;
// border-radius: 50%;
// background-color:  #70558d;
// text-decoration: none;
// padding: 0;
//
// }

// .add-btn-icon:hover{
//   background-color: #70558d;
//   color: $white;
// }
//
// .float-btn{
//   float: right;
// }

.btn-add-record-long-jobs {
  color: $white;
  $font-size: 1em;
  padding: 14px 14px;
  // background-color: #f29c3a;
  // margin-right: auto;
  border-radius: $corners;
  font-family: $font;
  text-decoration: none;

  // border: 1px solid #f29c3a;
  // position: fixed;
  z-index: 500;
  float: right;
  margin-right: 25px;
  width: 20px;
  height: 20px;
}

.btn-add-record-long-jobs:hover{
  background-color: $add-btn-color-dark;
  border-color: $add-btn-color-dark;
  color: $white;
  text-decoration: none;
}

.btn-add-record-long {
  color: $white;
  $font-size: 1em;
  padding: 10px 14px;
  background-color: $add-btn-color-light;
  // margin-right: auto;
  border-radius: $corners;
  font-family: $font;
  text-decoration: none;
  border: 1px solid $add-btn-color-light;
  // position: fixed;
  z-index: 500;
  float: right;
  margin-right: 25px;
}

.btn-add-record-long:hover{
  background-color: $add-btn-color-dark;
  border-color: $add-btn-color-dark;
  color: $white;
  text-decoration: none;
}

.btn-add-record-long-resources {
  color: $white;
  $font-size: 1em;
  padding: 10px 14px;
  background-color: $add-btn-color-light;
  // margin-right: auto;
  border-radius: $corners;
  font-family: $font;
  text-decoration: none;
  border: 1px solid $add-btn-color-light;
  // position: fixed;
  z-index: 500;
  float: right;
  margin-right: 25px;
  text-decoration: none;
}

.btn-add-record-long-resources:hover{
  background-color: $add-btn-color-dark;
  border-color: $add-btn-color-dark;
  color: $white;
  text-decoration: none;
}
