// @import "stylesheet";
// @import "fonts";
// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// @@include 'stylesheet';
// .events-container{
//   margin-top: 60px;
// }
@import 'buttons';
@import 'fonts';
@import 'stylesheet';


#db {
  position: fixed;
  top: 0;
  left: 0;
  /* Preserve aspet ratio */
  max-width: 100%;
  max-height: 100%;
  z-index: -5;
  background-size: cover;
}
.dashboard-events-header {
  margin: 0 auto;
  width: 33.333%;
  height: 80px;
  z-index: 40;
  top: 0;
  right: 0;
  margin-top: -50px;
  padding-top: 180px;
  padding-bottom: 70px;
  position: fixed;
  background-color: $white;
  min-width: 320px;
  min-height: 80px;
  box-shadow: 0 10px 90px $white;
}
.scroll-container {
  margin-top: 90px;
}
.event-block {

  // position: relative;
  min-width: 320px;

  // width: 320px;
  background-color: $events-color;
  text-align: center;
  padding: 10px;
  margin: 10px 20px;
  color: $white;
}
.dashboard-event-title {
  color: $white;
  padding-top: 10px;
  margin: 0;
  font-family: $font-bold;
}
.dashboard-event-details {
  padding: 4px;
  margin: 0;
  line-height: 1em;
  font-size: $small-font;
}
.dashboard-edit-delete {
  position: relative;
  text-align: right;
  color: $events-color;
}
.glyphicon-remove,
.glyphicon-pencil {
  color: orange;
  background-color: white;
  padding: 0.25em;
}






// event listing page css
.margin-top{
  margin-top: 10px;
}


.event-card {

  // background-color: $off-white;
// border-right: solid 10px $events-color;
  padding: 30px 40px;
  border-bottom: 10px solid $events-color;
  margin: 30px 120px;
  color: $dark-gray;
}
.event-list-img {
  color: $light-gray;
  display: inline-block;
  float: left;
    // z-index: 10;
  // margin: 20px 20px 20px 20px;
  // background-color: blue;
}

.event-list-content{
  // padding: 20px;


  display: inline-block;
  float: left;
}
.event-list-details {
    color: $dark-gray;
  padding-top: 0;
  margin: 0;
display: inline-block;
  text-align: left;
  margin: 0 10px 0 40px;
}
.event-small-font {
  padding: 0;
  margin: 0 0 5px 0;
  font-family: $sans-serif;
  font-size: $small-font;
  text-align: right;
}

.posted-by{
  display: inline-block;


}
.event-listing-thumbnail {
  display: inline-block;
  text-align: right;
  padding: none;
  float: right;
  margin: 0;
}

.event-listing-edit-delete{
  float: right;
  clear: both;
  text-align: right;
  font-size: 1.2em;
}

.event-list-heading{
    margin: -50px;
    height: 80px;
    z-index: 40;
    top: 0;
    right: 0;
    left: 0;
    padding-top: 180px;
    padding-bottom: 100px;
    position: fixed;
    background-color: $white;
    min-width: 320px;
    min-height: 80px;
box-shadow: 0 10px 50px $white;


}

.my-events-scroll-header{

}
.my-events-heading{

}

.img-box{
  display: block;
  width: 200px;
  height: auto;
  background-color: $events-color;
  border: solid thick black;
}





// event details page
.col-md-6{
  // background-color: blue;
  // height: 700px;

}

.event-detail-page{
  display: inline-block;
float: left;
  margin: -30px 20px 20px 20px;
  padding: 20px;

}


.detail-event-img{
  float: left;
  margin: 110px 20px 20px 100px;
  width: 100px;
  height: 100px;
  position: fixed;
  z-index: 10;
  // background-color: blue;
}

.thumbnail-event-img{
  float: left;
  margin: 240px 20px 185px 120px;
  width: 50px;
  height: 50px;
  position: fixed;
  z-index: 10;


}

.event-page-heading{
  position: fixed;
  z-index: 10;
padding-top: 150px;
top: 0;
background-color: $white;
box-shadow: 0 10px 50px $white;


}
.indiv-event-details{
  width: 600px;
  min-width: 300px;
  position: fixed;
  text-align: left;
    list-style-type: none;
margin-top: 110px;
margin-left: -40px;
margin-right: 40px;
font-size: $h4;

  border-left: 10px solid $events-color;
// padding-left: -200px;

}


.bold-sans-serif{
  font-family: $sans-serif-bold;
}

.event-description{
  margin-top: 20px;
  margin-right: 40px;
}

.event-details-edit-delete{
  float: right;

}





// my events page on profile
.my-events-header{
  margin-left: 0;
  text-align: left;
}
