// Font
@font-face {
  font-family: TisaPro;
  src: font-url('TisaPro.otf');
}

@font-face {
  font-family: TisaPro-Bold;
  src: font-url('TisaPro-Bold.otf');
}

@font-face {
  font-family: TisaPro-BoldIta;
  src: font-url('TisaPro-BoldIta.otf');
}

@font-face {
  font-family: TisaPro-Ita;
  src: font-url('TisaPro-Ita.otf');
}

@font-face {
  font-family: TisaPro-Medi;
  src: font-url('TisaPro-Medi.otf');
}

@font-face {
  font-family: TisaPro-MediIta;
  src: font-url('TisaPro-MediIta.otf');
}

@font-face {
  font-family: Roboto-Regular;
  src: font-url('Roboto-Regular.ttf');
}

@font-face{
  font-family: Roboto-Thin;
  src: font-url('Roboto-Thin.ttf');
}


$font: 'TisaPro';
$font-medium: "TisaPro-Medi";
$font-italic: 'TisaPro-Ita';
$font-med-italic: "TisaPro-MediIta";
$font-bold: "TisaPro-Bold";
$font-bold-italic: "TisaPro-BoldIta";
$font-logo: "SFIronsidesExtended";
$sans-serif:"Roboto-Regular";




// Variables for standard fonts
$h2: 1.563em;
$h3: 1.25em;
$h4: 1em;
$small-font: 0.8em;

// Standard fonts by html element
html {
  font-size: 1em;
}
body {
  font-size: 1em;
  background-color: white;
  font-family: "Roboto-Regular";
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

p {
  margin-bottom: 1.3em;
}
h1,
h2,
h3,
h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}
h1 {
  margin-top: 0;
  font-size: 2.441em;
}
h2 {
  font-size: 1.953em;
}
h3 {
  font-size: 1.563em;
}
h4 {
  font-size: 1.25em;
}


label{
  font-size: 1em;
}
small,
.font_small {
  font-size: 0.8em;
}
