@font-face {
  font-family: 'TisaPro';
  src: asset-url('TisaPro.otf');
  src:asset-url('TisaPro-Bold') format('otf'),
    asset-url('TisaPro-Boldlta') format('otf'),
   	asset-url('TisaPro-lta') format('otf'),
    asset-url('TisaPro-Medi') format('otf'),
    asset-url('TisaPro-Medilta') format('otf');
  font-weight: normal;
  font-style: normal;
}