.container-fluid {
  z-index: -3;
}

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  width: 100%;
  border: 1px $nav-bar-green solid;
  background-color: $nav-bar-green;
  z-index: 50;
}


.header-text {
  position: absolute;
  left: 85%;
  // font-size: 1em;
  text-align: right;
}

.logout-header {
  // z-index: 100;
  width: auto;
  right: 3em;
  // top: 1.5em;
  position: absolute;
  // right: 3em;
}

.nav-links {
  width: 800px;
  height: 100px;
  display: inline-block;
  // margin-left: 2em;
  margin-top: 2.25em;
  z-index: 3;
}
.nav-ind {
  font-size: 1.10em;
  font-family: $font;
  font-weight: 900;
  display: inline-block;
  z-index: 4;
  text-transform: uppercase;
  color: #eef1f6;
  padding: 0 1.5em 0 0;
  letter-spacing: 1.5px;
  // font-size: 19px;
  // font-weight: 500;
  // letter-spacing: .5px;
}
.nav-ind:hover {
  // padding-bottom: 1em;
  text-decoration: underline;
  padding-bottom: 1em;
  bottom: 1px;
  color: #eef1f6;
}

.notice {
  z-index: 5;
}


// .admin-header {
//   font-size: 1em;
//   text-align: right;
// }


.header-text {
  font-size: 1em;
  text-align: right;
}

.top-header {
  margin-top: 94px;
  z-index: -1;
}

.btn-default {
  width: 6em;
}

.logo-cont {
  float: left;
  padding-top: .25em;
  padding-left: 1.25em;
}

.tiy {
  // width: 188px;
  // height: 90px;
  width: 90px;
  height: 90px;
}

.nav {
  border: none;
  z-index: 100;
  margin-top: 15px;
}

.nav > li > a {
  font-size: 0.91em;
}

.nav-left {
  margin-left: 14px;
}

ul#nav-links li {
   list-style-type: none;
   display: inline-block;
   vertical-align: top;
}

.nav-width {
  min-width: 100%;
}
