.container-fluid {
  z-index: -3;
}

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  width: 100%;
  border: 1px #567a89 solid;
  background-color: $nav-bar-green;
  // box-shadow: 0 2px 2px grey;
  z-index: 5;
}


.header-text {
  position: absolute;
  bottom: 0.75em;
  left: 85%;
  // font-size: 1em;
  text-align: right;
}





.logout-header {
  // z-index: 100;
  width: auto;
  right: 3em;
  // top: 1.5em;
  position: absolute;

  // right: 3em;
}


.nav-links {
  width: 500px;
  height: 100px;
  display: inline-block;
  margin-left: 4em;
  margin-top: 2em;
  z-index: 3;
}
.nav {
  font-size: 1.5em;
  font-family: $font;
  display: inline-block;
  z-index: 4;
  text-transform: uppercase;
  color: white;
  // font-size: 19px;
  // font-weight: 500;
  // letter-spacing: .5px;
}
.nav:hover {
  font-color: blue;
}

.notice {
  z-index: -1;
}

.header-text {
  font-size: 1em;
  text-align: right;
}

.top-header {
  margin-top: 140px;
  z-index: -1;
}

.btn-default {
  padding: .3em;
  width: 6em;
  margin-bottom: .75em;
}

.logo-cont {
  float: left;
  padding: .5em;
}

.tiy {
  width: 75px;
  height: 75px;
}
