.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 150px;
  width: 100%;
  background-color: $white;
  border: 1px $white solid;
  box-shadow: 0 5px 20px #888;
}

.top-header{
  margin-top: 150px;
}
.header-text {
  position: absolute;
  bottom: 0.75em;
  left: 85%;
  // font-size: 1em;
  text-align: right;
}





.logout-header {
  // z-index: 100;
  width: auto;
  right: 3em;
  // top: 1.5em;
  position: absolute;

  // right: 3em;
}

.logo-cont {

  // margin: 0 !important;
  // display: inline-block;
  // float: left;
  padding: 1em;
}
.logo2,
.logo {

  // margin: 0 !important;
  text-align: center;
  width: 8em;
  height: 8em;
  border: solid black 7px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  float: left;
}
.logo2 {
  margin: 0.10em auto 0;
  text-align: center;
  width: 6.7em;
  height: 6.7em;
  border: solid black medium;
  font-family: $font-logo;
}
.the {
  font-family: $font-bold-italic;
  // font-size: 1.75em;
}
.forge {
  font-family: $font-logo;
  font-weight: bold;
  // font-size: 2em;
}
.tiy {
  width: 20px;
  height: 20px;
}
.nav-links {

  // z-index: 500;
  position: fixed;
  width: 440px;
  margin-left: 16em;
  margin-right: auto;
  background-color: blue;
  display: inline-block;

  // float: left;
}
.nav {
  // z-index: 50;
  color: $base;

  // font-weight: bold;
  // font-size: 2em;
  font-family: $font-bold-italic;

  // line-height: 1em;
  padding: 0.5em;
  display: inline-block;

  // margin-left: 2em;
  // float: center;
}

// .nav:hover{
//   color:$accent-color;
//
// }
.header-text{

}
