

@media(max-width: 380px) {
  .input-label {
    margin: 30px;
    padding: 30px;
  }
  .input-field {
    margin: 0;
    padding: 0;
  }
}
.course-form,
.new-user {

  // background-color: $light-gray;
  color: $base;
  text-align: left;
  padding: 35px 50px;
}
.new-user-form {
  padding: 15px 0;
}
.uploaded {
  background-color: orange;
  width: 220px;
  height: 220px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#user_uploaded_file {
  width: 220px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.state {
  width: 60px;
}
#user_looking_false,
#user_looking_true,
#user_hiring_false,
#user_hiring_true {
  width: 20px;
  margin: auto 10px;
}
.form-val {
  color: red;
  text-align: center;
}
.error {
  font-style: italic;
}
.ctr-btn {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
.radio-title {
  // background-color: red;
  width: 400px;

  // font-size: 20px;
  padding: 6px;
  border-style: none;
  margin-top: 10px;
  display: block;

  // margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
.ctr {
  padding: 6px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
