@import 'fonts';
@import 'stylesheet';

@media(max-width: 380px) {
  .input-label {
    margin: 30px;
    padding: 30px;
  }
  .input-field {
    margin: 0;
    padding: 0;
  }
}
.course-form,
.new-user {

  // background-color: $light-gray;
  color: $base;
  text-align: left;
  padding: 35px 50px;
}
.new-user-form {
  padding: 15px 0;
}
.uploaded {

  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
#user_uploaded_file {

  width: 220px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.state {
  width: 60px;
}
#user_looking_false,
#user_looking_true,
#user_hiring_false,
#user_hiring_true {
  width: 20px;
  margin: auto 10px;
}
.form-val {
  color: red;
  text-align: center;
}
.error {
  font-style: italic;
}
.ctr-btn {
  // display: block;
  // margin-top: 50px;
  // margin-left: auto;
  // margin-right: auto;
}
.radio-title {
  // background-color: red;
  width: 400px;

  // font-size: 20px;
  padding: 6px;
  border-style: none;
  margin-top: 10px;
  display: block;

  // margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
.ctr {
  padding: 6px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.profile-name{

  margin: 20px 0 0px 0;
  padding: 2px 2px 0px 2px;
}

.profile-details{
  margin: 0 auto;
  // padding: 2px;
}
.nav-stacked {
  width: 8em;
  float: left;
  position: fixed;
}

.profile {
  background-color: lightgrey;
}

.input-field-company {
  width: 30px;
}




.color-indicator-looking{
  display: inline-block;
  height:5px;
  width: 60px;
  border-radius: 2px;
  margin-left: auto;
  margin-right: auto;
  // margin-top: -12px;
  background-color: #9bb89f;

}

.color-indicator-hiring{
  display: inline-block;
  height:5px;
  width: 60px;
  border-radius: 2px;
  margin-left: auto;
  margin-right: auto;
  // margin-top: ;
  background-color: #3a687e;

}

.color-indicator-mentor{
  display: inline-block;
  height:5px;
  width: 60px;
  border-radius: 2px;
  margin-left: auto;
  margin-right: auto;
  // margin-top: 2px;
  background-color:#ce8c0f;


}

.key-code{
  display: inline-block;
  font-family: $font-italic;
text-align: center;
margin-left: 2px;
margin-right: 20px;
margin-bottom: 20px;
font-size: .8em;
}

.align{

  text-align: center;
}

.profile-content{
  margin-top: 20px;
  box-shadow: 10px 10px 65px #b2b2b2;
  padding: 30px 10px;
}



.icon-box {
// width: 40px;
// height: 80px;

  width: 200px;
  text-align: center;
  background-color: white;
  margin: 0 auto;
  margin-bottom: 10px;
  line-height: 15px;
}

.icon {
  font-size: 25px;
  padding: 3px;
  color: $medium-gray;
  text-align: center;
}

.icon-box a:hover {
  text-decoration: none;
  color: $dark-gray;
}

.icon:hover {
  color: $dark-gray;
}

.profile-card {
  box-sizing: border-box;
}

.profile-content {
  text-align: center;
  font-family: $font;
  background-color: white;
  padding-left: 20px;
  margin-bottom: 30px;
  // margin-left: 8.33%;
  // padding: 5%;
  font-color: black;
  box-sizing: border-box;
  margin-top: 5px;
}

.profile-page {
  font-family: $font-bold-italic;
  // font-size: 2em;
  color: $black;
}

#dir-header{
  width: 100%;
  height: 160px;
}
