// Place all the styles related to the Resources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.event-bk{
  border: black solid thin;
  margin: 10px;
  width: 450px;
  height: 300px;
// display: inline-block;
  float: left;
    // direction:rtl;
  overflow-y: scroll;
  text-align: left;
}
.FE{

    //   width: 100%;
    //   height: 320px;
    //   overflow: scroll;
    // direction:rtl;


// height: 500px;
}

.my-resources {
  text-align: center;
}
