// Place all the styles related to the Resources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.event-bk{
  border: black solid thin;
  margin: 10px;
  width: 450px;
  height: 300px;
// display: inline-block;
  float: left;
    // direction:rtl;
  overflow-y: scroll;
  text-align: left;
}
.FE{

    //   width: 100%;
    //   height: 320px;
    //   overflow: scroll;
    // direction:rtl;


// height: 500px;
}

.resources-card {
  display: inline-block;
  text-align: left;
  margin: 0 auto;
  width: 70%;
  overflow-y: scroll;
  margin-bottom: 20px;
  min-width: 300px;
  border-bottom: solid 10px #5d6e5f;


}
