// Place all the styles related to the Resources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.event-bk{
  border: black solid thin;
  margin: 10px;
  width: 450px;
  height: 300px;
// display: inline-block;
  float: left;
    // direction:rtl;
  overflow-y: scroll;
  text-align: left;
}
.resources-card {
  display: inline-block;
  text-align: left;
  margin: 0 auto;
  width: 100%;
  overflow-y: scroll;
  margin-bottom: 20px;
  min-width: 300px;
  margin-top: 20px;

}

.resources-header-box{
  width: 82%;
  // align-content: flex-end;
  margin: 0 auto;
  text-align: left;
  background-color: red;
  height: 80px;
}

#resources-header{
  left: 0;
  right: 0;
  height: 100px;
  background-color: purple;
  z-index: 0;
}



.title{
  display: inline-block;
  float: left;
}
.resources-head-text {
 margin-top: -20px;
 margin-left: 15px;
 position: fixed;
 z-index: 50;
}

.line-up-header {
  margin-top: 35px;
}

.fa-plus {
  color: white;
  background-color: #CE8531;
  border: 1px solid #CE8531;
}

#resource-list {
  z-index: -10;
}

.fill-background {
  background-color: $white;
}

.resources-background-color{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #d3d5d7;

  // padding-top: 800px;
  // margin-top: 500px;
}
