$black: #000;
$shield: #233139;
$base: #727d84;
$medium-gray: #a7acaf;
$light-gray: #d3d5d7;
$white: #fff;
$accent-color: #c319ab;
$accent-color-dark: #9c1488;
$link: #158cbd;
$link-hover: #0e6284;
$font: "TisaPro";
$font-medium: "TisaPro-Medi";
$font-italic: "TisaPro-Ita";
$font-med-italic: "TisaPro-Medilta";
$font-bold: "TisaPro-Bold";
$font-bold-italic: "TisaPro-BoldIta";
$font-logo: "SFIronsidesExtended";
body {
  font-family: $font;
}
.container-fluid {
  padding: 0;
}

h3 {
  font-size: 28px;
  line-height: 1.4;
}
.paragraphs {
  text-align: center;
  font-size: 20px;
}
.user-profile {
  background-color: green;
}
.input-field {
  width: 230px;
  font-size: 16px;
  padding: 6px;
  border-style: none;
  border-radius: 4px 4px 4px 4px;
  margin: 5px;
  background-color: $light-gray;

  // background-color: yellow;
}
.input-field:focus {
  outline: 0;
}
.input-label {
  width: 130px;

  // background-color: green;
  //   // font: $font;
  font-size: 16px;
  padding: 6px;
  border-style: none;
  border-radius: 4px 4px 4px 4px;
  margin: 10px 0;
}
.input-links {
  width: 300px;
}
.profile-card {

}
.btn {
  margin: 20px;
  border-radius: 4px;
  font-weight: bolder;
  font-style: italic;
  padding: 10px 20px 15px;
  font-size: 24px;
  text-decoration: none;
  background: $accent-color;
  color: $white;
}
.btn:hover {
  background: $accent-color-dark;
  color: $white;
}





h1 {
  width: 100%;
}
.link {
  color: $link;
}
.link:hover {
  color: $link-hover;
}
.profile-card {
  box-sizing: border-box;
}
.search {
  width: 175px;
  font-size: 16px;
  font: $font-italic;
  padding: 5px;
  border-style: none;
  border-radius: 4px 0 0 4px;
  background-color: $light-gray;
  margin: 4px;
}
.search-button {
  background-color: $medium-gray;
  color: $white;
  border-radius: 0 4px 4px 0;
  border-radius: 4px 0 0 4px;
  background-color: blue;
  border: none;
  font-size: 16px;
  padding: 5px;
  margin-left: -10px;
}
.search-button:hover {
  background-color: $light-gray;
}
col-md-3 {
  border: 1px black solid;
}
.icon-row {
  width: 20px;
}
.icon-mail {
  font-size: 15px;
}
.icon-github-alt {
  font-size: 15px;
}
.profile-content {
  text-align: center;
  font-family: $font;
}
h4 {
  font-family: $font-bold;
  font-size: 20px;
  font-style: bold;
}
.stack-align {
  padding-left: 10px;
}


.footnote {

}
.contact {

  // background-color: green;
}
.name {

  // background-color: blue;
  // text-align: right;
}
.label-column {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.profile-page {
  font-family: $font-bold-italic;
  font-size: 2em;
  color: $black;
}
